/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: burlywood;
}

/* Default Setting */
/* Body */

body {
  font-family: "Bebas Neue", cursive;
  font-weight: 400px;
  font-size: 18px;
  color: #252122;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue", cursive;
  font-weight: 400px;
  color: #ffffff;
}

img {
  width: 100%;
}

/* Header */
header {
  padding-top: 40px;
  padding-left: 50px;

  display: flex;
}

header .logo {
  width: 130px;
}

header .logo img {
  width: 130px;
}

header .icons img {
  width: 170px;
  margin-left: 10px;
}
/* Navigation */

header nav ul li {
  display: inline-block;
  margin-left: 80px;
  margin-right: 34px;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header .icons {
  width: 150px;
  padding-left: 68px;
}

header a:hover {
  text-decoration: underline;
  color: #252122;
}

/* Home */
.home {
  position: relative;
}
.home img {
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
  width: 1380px;
  margin-bottom: 20px;
}
.artist {
  position: absolute;
  display: inline-block;
  top: 0;

  display: inline-block;
  position: absolute;
  margin-top: 310px;
  margin-left: 930px;
  color: black;
  font-size: 20px;
  font-weight: 10;
}

/* Music and Tour */
.musicandtour {
  position: relative;
}

.musicandtour img {
  position: relative;
  border-radius: 70px;
  margin-left: 60px;
  margin-right: 60px;
  width: 1320px;
}
.music {
  position: absolute;
  top: 0;
  padding: 30px;
}

.music h2 {
  background-image: url(../image/backgroundtext2_1.png);
  background-repeat: no-repeat;

  position: absolute;
  font-family: "Poppins", sans-serif;
  top: 50%;
  margin-left: 330px;
  color: black;
}
.tour {
  position: absolute;
  top: 0;
  padding: 30px;
}
.tour h2 {
  background-image: url(../image/backgroundtext2_1.png);

  position: absolute;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  padding-top: 10px;
  padding-left: 10px;
  margin-left: 930px;
  color: black;
}
.tour p {
  background-image: url(../image/backgroundtext2_1.png);
  position: absolute;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 840px;
  margin-top: 100px;
  width: 300px;
  color: black;
  font-variant: normal;
}

.col {
  background-repeat: initial;
}

/* Workshop */

.workshop {
  position: relative;
}
.workshop img {
  position: relative;
  margin-left: 10px;
  margin-top: 30px;
  height: 1000px;
  width: 1370px;
}

.workshop h2 {
  position: absolute;
  background-image: url(../image/background1.3.png);
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  margin-left: 650px;
  color: black;
  top: 10%;
}
.electricguitar {
  position: absolute;
  background-image: url(../image/background1.3.png);
  background-repeat: no-repeat;
  margin-left: 680px;
  font-size: 18px;
  margin-top: 340px;
  top: 10%;
  font-weight: 400px;
}

.piano {
  position: absolute;
  background-image: url(../image/background1.3.png);
  background-repeat: no-repeat;
  margin-left: 710px;
  margin-top: 390px;
  font-size: 18px;
  top: 10%;
  font-weight: 400px;
}

/* Footer */
.contacts {
  position: relative;
}
.contacts img {
  position: relative;
  margin-top: 10px;
  width: 1320px;
  margin-left: 60px;
  margin-right: 30px;
}
.contact h2 {
  position: absolute;
  top: 10%;
  font-family: "Poppins", sans-serif;
  margin-left: 650px;
  margin-top: 20px;
  color: black;
}
.email {
  font-family: "Bebas Neue", cursive;
  position: absolute;
  margin-left: 175px;
  top: 25%;
  margin-top: 50px;
  color: #ffffff;
}

.country {
  font-family: "Bebas Neue", cursive;
  position: absolute;
  top: 25%;
  margin-left: 875px;
  margin-top: 50px;
  font-size: 18px;
  top: 25%;
  color: #ffffff;
}

.submit {
  position: absolute;
  top: 10%;
  font-family: "Roboto", sans-serif;
  margin-left: 670px;
  margin-top: 247px;
}
.submit h2 {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 10%;
  color: black;
}

/* About html */

/* Header */
header {
  padding-top: 40px;
  padding-left: 50px;
  display: flex;
}

header .logo1 {
  width: 130px;
}

header .logo1 img {
  width: 130px;
}

header .icons1 img {
  width: 170px;
  margin-left: 78px;
}
/* Navigation */

header .nav1 {
  display: inline-block;
  margin-left: 223px;
  margin-right: 40px;
  padding-left: 70px;
}

header .nav1 a {
  color: #ffffff;
  text-decoration: none;
}

header .icons1 {
  width: 150px;
  margin-left: 130px;
}

/* Homepage */
.homepage {
  position: relative;
}

.homepage img {
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
  width: 1380px;
  margin-bottom: 20px;
}
.artist {
  position: absolute;
  display: inline-block;
  top: 0;
  display: inline-block;
  position: absolute;
  margin-top: 310px;
  margin-left: 930px;
  color: black;
  font-size: 20px;
  font-weight: 10;
}

/* About */

.about {
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}
.about img {
  border-radius: 70px;
}

.about h2 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  color: black;
  background-image: url(../image/background2.2.png);
  top: 10%;
  margin-left: 620px;
  border-radius: 100px;
}

.about p {
  position: absolute;
  display: flex;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 28px;

  color: black;
  background-image: url(../image/background2.2.png);
  top: 10%;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 280px;
}

.theartist {
  position: relative;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 30px;
}
.theartist img {
  border-radius: 70px;
}

.theartist h2 {
  position: absolute;
  font-family: "Poppins", sans-serif;
  color: black;
  background-image: url(../image/theartist.png);
  top: 7%;
  margin-left: 600px;
  border-radius: 100px;
}

.theartist p {
  position: absolute;
  display: flex;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: black;
  background-image: url(../image/background2.3.png);
  top: 10%;
  margin-left: 750px;
  margin-right: 100px;
  margin-top: 170px;
  margin-bottom: 300px;
}

.icons3 {
  text-align: center;
}

.icons3 img {
  width: 170px;
  padding-top: 30px;
  padding-bottom: 30px;
}
